@mixin blue-background {
    background: rgb(11,24,82);
    background: linear-gradient(180deg, rgba(11,24,82,1) 31%, rgba(6,13,65,1) 73%, rgba(3,4,52,1) 90%);
}

@mixin blue-button{
    border-radius: 40px;
    padding: .4rem 1.4rem;
    background: rgb(3,143,185);
    background: linear-gradient(90deg, rgba(3,143,185,1) 17%, rgba(16,93,145,1) 60%, rgba(6,43,126,1) 96%);
    border: 0px;
}

@mixin red-button{
    border-radius: 40px;
    padding: .4rem 1.4rem;
    border: 0px;
    background: rgb(191,45,110);
    background: linear-gradient(90deg, rgba(191,45,110,1) 17%, rgba(219,70,109,1) 60%, rgba(246,96,107,1) 97%);
}

@mixin red-hover{
    background: rgb(191,45,110);
    background: linear-gradient(90deg, rgba(191,45,110,1) 17%, rgba(219,70,109,1) 60%, rgba(246,96,107,1) 97%);

}

@mixin blue-hover{
    background: rgb(3,143,185);
    background: linear-gradient(90deg, rgba(3,143,185,1) 17%, rgba(16,93,145,1) 60%, rgba(6,43,126,1) 96%);
}

@mixin red-shadow{
    // box-shadow: 0px 0px 20px #2b1442;
    box-shadow: 0px 0px 60px 9px #2b1442
}

@mixin blue-shadow{
    box-shadow: 0px 0px 70px 9px #051b55
}