@mixin blue-background {
    background: rgb(11,24,82);
    background: linear-gradient(180deg, rgba(11,24,82,1) 31%, rgba(6,13,65,1) 73%, rgba(3,4,52,1) 90%);
}

@mixin blue-button{
    border-radius: 40px;
    padding: .4rem 1.4rem;
    background: rgb(3,143,185);
    background: linear-gradient(90deg, rgba(3,143,185,1) 17%, rgba(16,93,145,1) 60%, rgba(6,43,126,1) 96%);
    border: 0px;
}